---
import CodeIcon from "../../assets/icons/CodeIcon.astro";
import LinkIcon from "../../assets/icons/LinkIcon.astro";
import Carousel from "./Carousel.astro";

export interface Props {
  project: {
    name: string | undefined;
    overview: string;
    stack: string[];
    pictures: string[] | undefined;
    carousel_mobile?: string[];
    carousel_desktop?: string[];
    demo_link: string | undefined;
    repo_link: string | undefined;
  };
  index: number;
}

const { project, index } = Astro.props;
---

<article class="project-card" data-tag={project.stack}>
  <Carousel
    mobile={project.carousel_mobile}
    desktop={project.carousel_desktop}
  />

  <div class="left-side" data-title={project.name}>
    <img
      src={project.pictures ? project.pictures[0] : ""}
      alt={"mock up from" + project.name}
      class="project-card__screenshots"
    />
  </div>
  <div class="right-side">
    <div class="card-header">
      <div class="round">
        0{index}
      </div>
      <div class="line"></div>
    </div>
    <div class="project-card__description">
      <h4 class="project-card__description__title">{project.name}</h4>
      <p class="project-card__description__overview">{project.overview}</p>
      <div class="project-card__description__stack">
        {
          project.stack.map((techno) => {
            return (
              <div class="project-card__description__stack__tag">{techno}</div>
            );
          })
        }
      </div>
    </div>
    <div class="project-card__links">
      <a
        href={project.demo_link}
        target="_blank"
        class="project-card__links__link demo"
      >
        <LinkIcon />
        <span>Demo</span>
      </a>
      <a
        href={project.repo_link}
        target="_blank"
        class="project-card__links__link repo"
        ><CodeIcon />
        <span>code</span>
      </a>
    </div>

    <style lang="scss">
      .project-card.hide {
        opacity: 0.3;
        transition: opacity 0.5s;
        transition-delay: 0.25s;
      }
      .project-card.fadeOut {
        animation: removed 0.4s ease-in 0s 1 normal forwards;
        @keyframes removed {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      .project-card.removed {
        display: none;
      }
      .project-card.start {
        display: none;
      }
      .project-card {
        display: flex;
        width: 95%;
        max-width: 375px;
        opacity: 1;
        transition: opacity 0.5s;
        transition-delay: 0.25s;

        .left-side {
          flex: 1 0 50%;
          width: 50%;
          cursor: pointer;
          animation: opacityTranslateX 0.8s ease-out 0s normal forwards;

          @keyframes opacityTranslateX {
            0% {
              transform: translateX(-100px);
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            border-radius: 0.7em;
            object-fit: cover;
            aspect-ratio: 1/2;
          }
        }
        .right-side {
          position: relative;
          flex: 1 0 50%;
          width: 50%;
          display: flex;
          flex-direction: column;
          padding: 7px 5px 0 5px;

          .card-header {
            display: flex;
            align-items: center;
          }
          .round {
            background-color: rgb(75, 116, 116);
            width: 1.9em;
            height: 1.9em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(216, 223, 223);
            flex-shrink: 0;
          }
          .line {
            height: 3px;
            background-color: rgb(75, 116, 116);

            animation: line 1s ease-out 0s forwards;

            @keyframes line {
              0% {
                width: 0%;
              }
              100% {
                width: 100%;
              }
            }
          }
        }

        .project-card__description {
          padding: 0 5px;
          width: 100%;
          color: var(--text);

          @keyframes opacityTranslateY {
            0% {
              opacity: 0;
              transform: translateY(10px);
            }
            100% {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &__title {
            text-align: center;
            font-size: 1.1em;
            margin: 0.3em 0;
            letter-spacing: 0.02em;
            opacity: 0;
            color: var(--title_accent);
            animation: opacityTranslateY 0.2s ease-in 0.6s 1 normal forwards;
          }
          &__overview {
            text-align: justify;
            font-size: 0.8em;
            line-height: 1.1;
            margin: 0.4em 0;
            opacity: 0;
            color: var(--title_soft);
            animation: opacityTranslateY 0.35s ease-in 0.6s 1 normal forwards;
          }
          &__stack {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 0.2em;
            margin-top: 10%;
            opacity: 0;
            animation: opacityTranslateY 0.5s ease-in 0.6s 1 normal forwards;

            &__tag {
              font-size: 0.9em;
              border: 1px solid rgba(0, 0, 0, 0.424);
              padding: 7.5px 8px;
              background-color: var(--light_background);
              border-radius: 0.24em;
            }
          }
        }
        .project-card__links {
          display: flex;
          position: absolute;
          bottom: 0;
          gap: 0.25em;

          &__link {
            cursor: pointer;
            height: 2em;
            width: 2em;
            color: rgb(216, 223, 223);
            border-radius: 50%;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
            background-color: rgb(75, 116, 116);
            transition: 0.3s;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              width: 0px;
              overflow: hidden;
              transition: 0.3s;
              text-align: center;
              // margin-left: 5px;
              display: none;
            }

            &:hover {
              width: 100px;
              border-radius: 20px;
              span {
                display: block;
                padding: 2px;
                width: 50px;
              }
            }
          }
        }
      }
    </style>
  </div>
</article>
<script>
  const cards = document.querySelectorAll(".project-card");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("hide");
        } else {
          entry.target.classList.add("hide");
        }
      });
    },
    {
      threshold: 0.47,
    }
  );
  cards.forEach((card) => observer.observe(card));
</script>
