---
import Techno from "./Techno.astro";

const frontTechnos = [
  {
    link: "/assets/images/typescript.png",
    name: "TypeScript",
  },
  {
    link: "/assets/images/react.png",
    name: "React",
  },
  {
    link: "/assets/images/javascript.png",
    name: "Javascript",
  },
  {
    link: "/assets/images/redux.png",
    name: "Redux",
  },
  {
    link: "/assets/images/scss.png",
    name: "Sass",
  },
  {
    link: "/assets/images/astrojs.png",
    name: "Astro.js",
  },
  {
    link: "/assets/images/remix.png",
    name: "Remix",
  },
  {
    link: "/assets/images/tailwind.png",
    name: "Tailwind",
  },
];

const backTechnos = [
  {
    link: "/assets/images/nodejs.png",
    name: "Node.js",
  },
  {
    link: "/assets/images/mongo.png",
    name: "MongoDB",
  },
];

const otherTechnos = [
  {
    link: "/assets/images/git.png",
    name: "Git",
  },
];
---

<div class="skills">
  <!-- <h4>FrontEnd</h4> -->
  <div class="skills__front skill-container">
    {
      frontTechnos.map((skill) => {
        return <Techno link={skill.link} skillName={skill.name} />;
      })
    }
  </div>
  <!-- <h4>Backend</h4> -->
  <div class="skills__back skill-container">
    {
      backTechnos.map((skill) => {
        return <Techno link={skill.link} skillName={skill.name} />;
      })
    }
  </div>
  <!-- <h4>Others</h4> -->
  <div class="skills__other skill-container">
    {
      otherTechnos.map((skill) => {
        return <Techno link={skill.link} skillName={skill.name} />;
      })
    }
  </div>
</div>

<style>
  .skills__title {
    padding-left: 2vw;
    font-size: 0.67em;
    margin: 0.4em 0;
  }
  h4 {
    flex : 1 0 20%
    font-family: "Itim", cursive;
    font-size: clamp(0.7em , 1.55vw, 2em);
    color : var(--title_accent)
  }
  .skill-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 1.15em 1em;
    max-width: 1500px;
  }
</style>
